<button class=@colour @onclick="onButtonClicked" type=@type data-bs-target=@data_bs_target data-bs-toggle=@data_bs_toggle data-bs-dismiss=@data_bs_dismiss>@buttonText</button>

@code 
{
    [Parameter] public EventCallback onButtonClick { get; set; }
    protected async Task onButtonClicked() 
    {
        await onButtonClick.InvokeAsync();
    }
    [Parameter] public string buttonText { get; set; } = null!;
    [Parameter] public string type { get; set; } = "";
    [Parameter] public string data_bs_target { get; set; } = "";
    [Parameter] public string data_bs_toggle { get; set; } = "";
    [Parameter] public string data_bs_dismiss { get; set; } = "";
    [Parameter] public string colour { get; set; } = "cta"; // set colour="red" to make 'danger' button
}