@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p><a href="authentication/login">Log in</a></p>
    </NotAuthorized>
</AuthorizeView>
