@inherits LayoutComponentBase
@using LitExplore.Client.BurgerMenu

<div class="page">
  <AuthorizeView>
    <Authorized>
      <main>
        <div class="top-row px-4 auth">
          <BurgerMenu />
          <SearchBar />
          <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
      </main>
    </Authorized>
    <NotAuthorized>
      <main>
        <article class="content px-4">
          @Body
        </article>
      </main>
    </NotAuthorized>
  </AuthorizeView>
</div>