@inherits LayoutComponentBase
@using LitExplore.Client.TopBar

<div class="page">
  <AuthorizeView>
    <Authorized>
      <main>
        <div class="top-row px-4 auth topbar">
          <div class="left">
            <BurgerMenu />
            <SearchBar />
          </div>
          <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
      </main>
    </Authorized>
    <NotAuthorized>
      <main>
        <article class="content px-4">
          @Body
        </article>
      </main>
    </NotAuthorized>
  </AuthorizeView>
</div>