@page "/teamcustomisation"

<div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="teamModal" style="display: none;" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">@currentTeam.TeamName</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button id="redbutton" disabled = @isTeamOwner></button>
        <button id="yellowbutton" disabled = @isTeamOwner></button>
        <button id="greenbutton" disabled = @isTeamOwner></button>
        <button id="orangebutton" disabled = @isTeamOwner></button>
      </div>
      <div class="modal-footer">
        @foreach(var user in currentTeam.UserIDs) 
        {
            <button id="user" @onclick="() => removeUser(user)">@user</button>
        }
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public TeamDTO currentTeam { get; set; } = null!;
    [Parameter]
    public bool isTeamOwner { get; set; } = false;
    private void removeUser(string userId) 
    {
        if (isTeamOwner)
        {
            //currentTeam.UserIDs.Remove(currentTeam.UserIDs.Where(u => u == userId).First());
        }
    }
    
}