<div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="addTeamModal"
    style="display: none;" tabindex="-1" aria-labelledby="addTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section>
                    <label for="teamname">Team Name:</label><br />
                    <input type="text" id="teamname" />
                </section>
                <input type="submit" value="Create team" />
            </div>
        </div>
    </div>
</div>