@page "/teamcustomisation"

<div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="teamModal" style="display: none;" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@currentTeam.TeamName</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button id="redbutton" disabled = @isTeamOwner></button>
        <button id="yellowbutton" disabled = @isTeamOwner></button>
        <button id="greenbutton" disabled = @isTeamOwner></button>
        <button id="orangebutton" disabled = @isTeamOwner></button>
      </div>
      <div class="modal-footer">
        @foreach(var user in currentTeam.Users) 
        {
            <button id="user" @onclick="() => removeUser(user)">@user.Id</button>
        }
      </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public Team currentTeam { get; set; } = TestEntities.team1;
    [Parameter]
    public bool isTeamOwner { get; set; } = false;
    private void removeUser(User user) 
    {
        if (isTeamOwner)
        {
            currentTeam.Users.Remove(currentTeam.Users.Where(u => u == user).First());
        }
    }

}