@page "/About"

<div class="background">
    <center>
        <h1>About</h1>
        <hr>
        <div class="textbox">
            <h2>Who are we?</h2>
            <p>
                We are 6 SWU students from ITU that have created this website during the course: Analysis, Design and Software Architecture, BDSA for short.
                This website was created as a part of the exam for the course, where we had to design a service and simultaniously write a report 
                like a software developer would when creating a service for a client.
            </p>
        </div>
        <section class="p-5">
            <div class="container">
                <div class="box">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Caspar Marschall</h5>
                            <img 
                                src="https://media-exp1.licdn.com/dms/image/C4E03AQFEgsnk88EWRA/profile-displayphoto-shrink_800_800/0/1634470981741?e=1644451200&v=beta&t=Kmejj2-XVR_tODrhjCNruWgoiijC0CCM_u2jyxhnHn0" 
                                class="rounded-circle mb-3" 
                                alt="En flot Caspar Marschall"
                            >
                            <p class="card-text">Has job.</p>
                            <a href="https://www.linkedin.com/in/caspar-marschall/" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Emil Houlborg</h5>
                            <img 
                                src="https://avatars.githubusercontent.com/u/82398520?v=4" 
                                class="rounded-circle mb-3" 
                                alt="En flot Emil Houlborg"
                            >
                            <p class="card-text">Want job.</p>
                            <a href="#" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Frederik Rothe</h5>
                            <img 
                                src="https://media-exp1.licdn.com/dms/image/C4E03AQHQ4vevy2HviA/profile-displayphoto-shrink_800_800/0/1634329689699?e=1644451200&v=beta&t=8umjaoJH2m9o8H4HTN9vsgFKGOZFJNXgvKLOpRf49ko" 
                                class="rounded-circle mb-3" 
                                alt="En flot Frederik Rothe"
                            >
                            <p class="card-text">Want job with big money checks and bad bitches.</p>
                            <a href="https://www.linkedin.com/in/frederik-rothe/" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Nadja Brix Koch</h5>
                            <img 
                                src="https://avatars.githubusercontent.com/u/74055632?v=4" 
                                class="rounded-circle mb-3" 
                                alt="En flot Naddi"
                            >
                            <p class="card-text">Has job.</p>
                            <a href="https://www.linkedin.com/in/nadjabrixkoch/" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Sebastian Fugmann</h5>
                            <img 
                                src="https://media-exp1.licdn.com/dms/image/C4D03AQF96ErZllqmrA/profile-displayphoto-shrink_800_800/0/1637320483700?e=1644451200&v=beta&t=aa7ajqBycphmxm6wk1_QrUk-BN9iGCniFzl3TU_YlL0" 
                                class="rounded-circle mb-3" 
                                alt="En flot Seb"
                            >
                            <p class="card-text">Should not have job.</p>
                            <a href="https://www.linkedin.com/in/sebastian-fugmann-ab224a226/" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Theis Stensgaard</h5>
                            <img 
                                src="https://images-ext-1.discordapp.net/external/iyGxU4YMYWhRkyFOdS0CxtldxRJKWevD7dWwRj5wAmQ/https/cdn.theorg.com/802475e7-68e8-4012-8d06-2eb462b6e05e_medium.png?width=463&height=463" 
                                class="rounded-circle mb-3" 
                                alt="En flot Theis"
                            >
                            <p class="card-text">Has frontend job. Very good yes yes.</p>
                            <a href="https://www.linkedin.com/in/theis-helth-stensgaard-a44330208/" target="_blank"><Button buttonText="LinkedIn" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="textbox">
            <h2>What can I do on this website?</h2>
            <p>
                This website is meant as a way to keep track of scientific papers, and how different papers are connected, for example if they have the same author,
                the same topic or something else. These connections are blue and it is possible to click on them to read about the connection in detail. It is also possible 
                to create your own connections between papers and add a description, so you can remember why you created the connection in the first place.
            </p>
        </div>
        <div class="textbox">
            <h2>The limitations of the website</h2>
            <p>
                This website is only a vertical slice of a much bigger program. The focus of our team was on creating connections between papers and creating teams.
                If we had more time, we would implement a way to add papers, display the papers and create connections between already added papers, if there are any.
                We would also add a search function for papers, as well as an easy way to move around the graph of papers on the front screen.
            </p>
        </div>
    </center>
</div>