@page "/"
@using LitExplore.Client.Connections
@using LitExplore.Client.Papers
@using LitExplore.Client.Teams
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager



<PageTitle>LitExplore</PageTitle>

<AuthorizeView>
  <Authorized>
  <div>
    @if ( _dataIsLoaded )
    {
        @foreach (PaperDTO p in Model.Graph.allPapers) 
        {
            <div class="paperbutton" @onclick="() => _selectedPaper = p">
                <PaperNode paper=@p left=@getLeftPosPaper(p) top=@getTopPosPaper(p) />
            </div>
        }
        <ConnectionLines connections=@Model.Graph.publicConnections extraConnections=@_userOrTeamConnections refreshGraph=@Refresh/>
        <AddConnectionWindow refreshGraph=@Refresh/>
    } 
    else 
    {
        <div class="loadingcontainer">
            <div class="loadinglabel">Loading ...</div>
        </div>
    }

    <div class="teams">
        @if (Model.CurrentUser.teams != null)
        {
            foreach (var team in Model.CurrentUser.teams)
            {
                <button type="button" class="c-@colour(team) teambutton" data-bs-toggle="modal" data-bs-target="#teamModal" @onclick="() => setSelectedTeam(team)"/>
            }
            <button class="addteambutton" data-bs-toggle="modal" data-bs-target="#addTeamModal"><div class="addTeamButtonText"><span class="oi oi-plus"></span></div></button>
        }
    </div>
    <PaperInfoWindow paper=@_selectedPaper/>
    <TeamCustomisation OnClose="() => _selectedTeam = null" team=@_selectedTeam refreshGraph=@Refresh/>
    <TeamForm adminId=@Model.CurrentUser.userOid refreshGraph=@Refresh/>
    <div class="addconnbutton" type="button" data-bs-toggle="modal" data-bs-target="#AddConnectionModal">+ Add connection</div>
  </div>
  </Authorized>
</AuthorizeView>


@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated != true)
        {
            NavigationManager.NavigateTo($"{NavigationManager.BaseUri}Login");
        } 
        else 
        {
            if (!Model.CurrentUser.initialised()) 
            {
                string userId = string.Empty;
                var claims = user.Claims;
                foreach (var claim in claims) 
                {
                    if (claim.Type.Equals("oid"))
                    {
                        userId = claim.Value;
                    }
                }
                var userDTO = new UserCreateDTO
                {
                    oid = userId,
                    Name = user.Identity?.Name
                };
                
                var response = await Http.PostAsJsonAsync("api/User", userDTO);
                Model.CurrentUser.userOid = userId;

                var teams = await Http.GetFromJsonAsync<List<TeamDTO>>($"api/User/teams/{userId}");
                if (teams != null) Model.CurrentUser.teams = teams;

                var userConnections = await Http.GetFromJsonAsync<List<ConnectionDTO>>($"api/User/connections/{userId}");
                if (userConnections != null) Model.CurrentUser.connections = userConnections;
            }

            _userOrTeamConnections = Model.CurrentUser.connections;

            if (!Model.Graph.initialised()) 
            {
                var papers = await Http.GetFromJsonAsync<List<PaperDTO>>("api/Paper");
                if (papers != null) Model.Graph.allPapers = papers;

                var connections = await Http.GetFromJsonAsync<List<ConnectionDTO>>("api/Connection");
                if (connections != null) Model.Graph.publicConnections = connections;
                Model.Graph.initialise();
            }
            _dataIsLoaded = true;
        }
    }

    private bool _dataIsLoaded = false;
    private int getLeftPosPaper(PaperDTO p) => Model.Graph.paperToPositions[p.Id].Item1;
    private int getTopPosPaper(PaperDTO p) => Model.Graph.paperToPositions[p.Id].Item2;

    private List<ConnectionDTO>? _userOrTeamConnections;
    private PaperDTO _selectedPaper = TestEntities.paperDTO;
    private TeamDTO? _selectedTeam = null;

    private async void setSelectedTeam(TeamDTO team) 
    {
        _selectedTeam = await Http.GetFromJsonAsync<TeamDTO>($"api/Team/{team.Id}");
        Model.CurrentUser.selectedTeam = _selectedTeam;
        _userOrTeamConnections = await Http.GetFromJsonAsync<List<ConnectionDTO>>($"api/Team/connections/{team.Id}");
        Refresh();
    }

    private void Refresh() {
        StateHasChanged();
    }
    private int colour(TeamDTO team) => team.Colour;
}
