.paperbutton {
  position: fixed;
  z-index: 3;
}

.loadinglabel {
  text-transform: uppercase;
  font-size: 18pt;
  text-align: center;
  letter-spacing: 16px;
}

.loadingcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  height: 90vh;
}

::deep .paperbutton:nth-child(1) {
  left: 12vw;
  top: 15vh;
}
::deep .paperbutton:nth-child(2) {
  left: 27vw;
  top: 24vh;
}
::deep .paperbutton:nth-child(3) {
  left: 45vw;
  top: 23vh;
}
::deep .paperbutton:nth-child(4) {
  left: 43vw;
  top: 48vh;
}
::deep .paperbutton:nth-child(5) {
  left: 55vw;
  top: 60vh;
}
::deep .paperbutton:nth-child(6) {
  left: 73vw;
  top: 35vh;
}
::deep .paperbutton:nth-child(7) {
  left: 62vw;
  top: 15vh;
}
::deep .paperbutton:nth-child(8) {
  left: 15vw;
  top: 75vh;
}
::deep .paperbutton:nth-child(9) {
  left: 38vw;
  top: 83vh;
}
::deep .paperbutton:nth-child(10) {
  left: 28vw;
  top: 58vh;
}
::deep .paperbutton:nth-child(11) {
  left: 70vw;
  top: 73vh;
}
::deep .paperbutton:nth-child(12) {
  left: 85vw;
  top: 51vh;
}
.paperbutton:hover {
  z-index: 10;
}
.connectionbutton:hover  {
  z-index: 10;
}

.teams {
  position: fixed;
  top: 4.5rem;
  right: 1rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teamSection {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.teamHeader {
  color: var(--white);
  align-self: flex-end;
  margin-right: 3px;
  letter-spacing: 2px;
  opacity: 0.75;
}

.edit {
  height: 35px !important;
  width: 35px !important;
  background-color: var(--grey);
  color: var(--white);
  align-self: center !important;
}

.teamButton span {
  color: var(--white);
  font-size: 40px;
}

.teams button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  align-self: flex-end;
}

.addteambutton {
  background-color: var(--blue);
}

.addTeamButtonText {
  font-size: 18pt;
  color: white;
  padding-top: 6px;
}

.addconnbutton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--blue);
  width: 250px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  letter-spacing: 4px;
  text-transform: lowercase;
}

.c-0 {
  background-color: var(--blue);
}

.c-1 {
  background-color: var(--red);
}

.c-2 {
  background-color: var(--yellow);
}

.c-3 {
  background-color: var(--orange);
}

.c-4 {
  background-color: var(--green);
}

.c-5 {
  background-color: var(--purple);
}
