@page "/"
@using LitExplore.Client.GraphElements

<PageTitle>LitExplore</PageTitle>

<div>
    @for (int i=0; i<12; i++) {
        <PaperNode paper=@paper/>
    }
    <ConnectionLine connection=@connection/>
</div>

@code {
    private Paper paper = TestEntities.genericPaper;
    private Connection connection = TestEntities.testconn1;
}