@page "/"
@using LitExplore.Client.Connections
@using LitExplore.Client.Papers
@using LitExplore.Client.Teams

<PageTitle>LitExplore</PageTitle>

<div>
    @for (int i=0; i<12; i++) {
        <div class="paperbutton" @onclick="() => setSelectedPaper(paper)">
            <PaperNode paper=@paper/>
        </div>
    }
    <div class="connectionbutton" @onclick="() => setSelectedConnection(connection)">
        <ConnectionLine connection=@connection/>
    </div>

    <div class="teams">
        <button type="button" class="teambutton" data-bs-toggle="modal" data-bs-target="#teamModal" />
    </div>
    <PaperInfoWindow paper=@selectedPaper/>
    <ConnectionInfoWindow connection=@selectedConnection/>
    <TeamCustomisation/>
</div>





@code {
    private Paper paper = TestEntities.genericPaper;
    private Connection connection = TestEntities.testconn1;
    private Paper selectedPaper = TestEntities.genericPaper;
    private void setSelectedPaper(Paper paper) {
        selectedPaper = paper;
    }
    private Connection selectedConnection = TestEntities.testconn1;
    private void setSelectedConnection(Connection connection) {
        selectedConnection = connection;
    }

}