@page "/"
@using LitExplore.Client.Connections
@using LitExplore.Client.Papers
@using LitExplore.Client.Teams
@inject HttpClient Http

<PageTitle>LitExplore</PageTitle>

<div>
    @foreach (PaperDTO p in papers) {
        <div class="paperbutton" @onclick="() => setSelectedPaper(p)">
            <PaperNode paper=@p/>
        </div>
    }
    <div class="connectionbutton" @onclick="() => setSelectedConnection(connection)">
        <ConnectionLine connection=@connection/>
    </div>

    <div class="teams">
        <button type="button" class="teambutton" data-bs-toggle="modal" data-bs-target="#teamModal" />
    </div>
    <PaperInfoWindow paper=@selectedPaper/>
    <ConnectionInfoWindow connection=@selectedConnection/>
    <TeamCustomisation/>
</div>


@code {
    private Connection connection = TestEntities.testconn1;
    
    private Connection selectedConnection = TestEntities.testconn1;
    private void setSelectedConnection(Connection connection) {
        selectedConnection = connection;
    }

    private PaperDTO[]? papers;
    protected override async Task OnInitializedAsync()
    {
        GraphPositions.initialise(Http);
        papers = await Http.GetFromJsonAsync<PaperDTO[]>("api/PaperManager");
    }
    private PaperDTO selectedPaper = TestEntities.genericPaper;
    private void setSelectedPaper(PaperDTO paper) {
        selectedPaper = paper;
    }
}