::deep .paper:nth-child(1) {
    left: 12vw;
    top: 15vh;
}
::deep .paper:nth-child(2) {
    left: 27vw;
    top: 24vh;
}
::deep .paper:nth-child(3) {
    left: 45vw;
    top: 23vh;
}
::deep .paper:nth-child(4) {
    left: 43vw;
    top: 48vh;
}
::deep .paper:nth-child(5) {
    left: 55vw;
    top: 60vh;
}
::deep .paper:nth-child(6) {
    left: 73vw;
    top: 35vh;
}
::deep .paper:nth-child(7) {
    left: 62vw;
    top: 15vh;
}
::deep .paper:nth-child(8) {
    left: 15vw;
    top: 75vh;
}
::deep .paper:nth-child(9) {
    left: 38vw;
    top: 83vh;
}
::deep .paper:nth-child(10) {
    left: 28vw;
    top: 58vh;
}
::deep .paper:nth-child(11) {
    left: 70vw;
    top: 73vh;
}
::deep .paper:nth-child(12) {
    left: 85vw;
    top: 51vh;
}

.connection {
    position: fixed;
    background-color: var(--white);
    width: 45pt;
    height: 60pt;
    border-radius: 5pt;
    z-index: 2;
}