@page "/"
@using LitExplore.Client.Connections
@using LitExplore.Client.Connections.AddConnection
@using LitExplore.Client.Papers
@using LitExplore.Client.Teams
@using System.Security.Claims
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager



<PageTitle>LitExplore</PageTitle>

<AuthorizeView>
  <Authorized>
  <div>
    @if (Model.Graph.allPapers != null && _dataIsLoaded )
    {
        @foreach (PaperDTO p in Model.Graph.allPapers) 
        {
            <div class="paperbutton" @onclick="() => setSelectedPaper(p)">
                <PaperNode paper=@p left=@getLeftPosPaper(p) top=@getTopPosPaper(p) />
            </div>
        }
    }
    @if (Model.Graph.publicConnections != null && _dataIsLoaded )
    {
        <ConnectionLines connections=@Model.Graph.publicConnections />
    }   

    <div class="teams">
        <button type="button" @onClick="() => setSelectedTeam()" class="teambutton" data-bs-toggle="modal" data-bs-target="#teamModal" />
    </div>
    <PaperInfoWindow paper=@_selectedPaper/>
    <TeamCustomisation team=@_selectedTeam/>
    <AddConnection />
  </div>
  </Authorized>
</AuthorizeView>


@code {
    private bool _dataIsLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated != true)
        {
            NavigationManager.NavigateTo($"{NavigationManager.BaseUri}Login");
        } 
        else 
        {
            string userId = string.Empty;
            var claims = user.Claims;
            foreach (var claim in claims) 
            {
                if (claim.Type.Equals("oid"))
                {
                    userId = claim.Value;
                }
            }

            var userDTO = new UserCreateDTO
            {
                oid = userId,
                Name = user.Identity?.Name
            };
            
            var response = await Http.PostAsJsonAsync("api/User", userDTO);

            if (response.IsSuccessStatusCode)
            {
                Model.CurrentUser.user = await response.Content.ReadFromJsonAsync<UserDTO>();
            }

            Model.CurrentUser.teams = await Http.GetFromJsonAsync<TeamDTO[]>($"api/User/teams/{userId}");
            Model.CurrentUser.connections = await Http.GetFromJsonAsync<ConnectionDTO[]>($"api/User/connections/{userId}");

            Model.Graph.allPapers = await Http.GetFromJsonAsync<PaperDTO[]>("api/Paper");
            Model.Graph.publicConnections = await Http.GetFromJsonAsync<ConnectionDTO[]>("api/Connection");

            Model.Graph.initialise(Http);
            setSelectedPaper(Model.Graph.allPapers.ElementAt(0));
            setSelectedConnection(Model.Graph.publicConnections.ElementAt(0));
            _dataIsLoaded = true;
        }
    }

    private int getLeftPosPaper(PaperDTO p) => Model.Graph.paperToPositions[p.Id].Item1;
    private int getTopPosPaper(PaperDTO p) => Model.Graph.paperToPositions[p.Id].Item2;

    private PaperDTO _selectedPaper = TestEntities.paperDTO;
    private void setSelectedPaper(PaperDTO paper) 
    {
        _selectedPaper = paper;
    }
    private ConnectionDTO _selectedConnection = TestEntities.connectionDTO;
    private PaperDTO _connpaper1 = TestEntities.paperDTO;
    private PaperDTO _connpaper2 = TestEntities.paperDTO;
    private void setSelectedConnection(ConnectionDTO connection) 
    {
        _selectedConnection = connection;
        _connpaper1 = Model.Graph.allPapers.Where(p => p.Id == connection.PaperOneId).Single();
        _connpaper2 = Model.Graph.allPapers.Where(p => p.Id == connection.PaperTwoId).Single();
    }
    private TeamDTO _selectedTeam = TestEntities.teamDTO;
    private void setSelectedTeam(TeamDTO team) 
    {
        _selectedTeam = team;
    }
}