@page "/"
@using LitExplore.Client.GraphElements

<PageTitle>Index</PageTitle>

<div>
    @for (int i=0; i<12; i++) {
        <PaperNode paper=@paper/>
    }
</div>

@code {
    private Paper paper = TestEntities.genericPaper;
}