@page "/updateconnection"
@using LitExplore.Client.Forms

<PageTitle>JUpdate a connection</PageTitle>

<h1>Update a connection between two papers</h1>

<ConnectionForm UpdateForm=true Paper1Title="yoo" Paper2Title="halløj"/>

@code {

}