<p class="title">@paper.Title</p>
<p>by: <i>@authors</i></p>
@if (paper.Tags != null) {
    <p>tags: <i>@tags</i></p>
}

@code {
    [Parameter]
    public Paper paper { get; set; } = TestEntities.genericPaper;
    private string authors 
    {
        get 
        {
            string result = "";
            foreach (string author in paper.Authors) 
            {
                result += author + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
    private string tags
    {
        get
        {
            string result = "";
            foreach (string tag in paper.Tags) 
            {
                result += tag + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
}