.paper {
    background-color: var(--white);
    width: 62px;
    height: 82px;
    border-radius: 8px;
}

span {
    color: var(--background);
    font-size: 31pt;
    left: 10px;
    top: 9px;
    opacity: 69%;
}

.paper:hover span {
    opacity: 90%;
}