<h2>Authours</h2>
<p>@_authors</p>
@if (paper.TagNames != null && paper.TagNames.Count() > 0) 
{
    <h2>Tags</h2>
    <p>@_tags</p>
}

@code {
    [Parameter]
    public PaperDTO paper { get; set; } = null!;
    
    private string _authors 
    {
        get 
        {
            string result = "";
            if (paper.AuthorNames != null) 
            {
                foreach (string author in paper.AuthorNames) 
                {
                    result += author + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
    private string _tags
    {
        get
        {
            string result = "";
            if (paper.TagNames != null) 
            {
                foreach (string tag in paper.TagNames) 
                {
                    result += tag + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
}