<div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="paperInfoWindow" style="display: none;" tabindex="-1" aria-labelledby="paperModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">@paper.Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <PaperPartialInfo paper=@paper />
                <h2>Publish date</h2>
                <p>@_publishDate</p>
                <h2>Content</h2>
                <p>@paper.Document</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PaperDTO paper {get;set;} = null!;

    private string _publishDate
    {
        get => paper.Day + "." + paper.Month + "." + paper.Year;
    }
}