.paper {
    background-color: var(--white);
    width: 46pt;
    height: 60pt;
    border-radius: 4pt;
}

span {
    color: var(--background);
    font-size: 40px;
    left: 10px;
    top: 9px;
    opacity: 69%;
}