<h2>Authours</h2>
<p>@authors</p>
@if (paper.Tags != null) {
    <h2>Tags</h2>
    <p>@tags</p>
}

@code {
    [Parameter]
    public Paper paper { get; set; } = TestEntities.genericPaper;
    private string authors 
    {
        get 
        {
            string result = "";
            foreach (string author in paper.Authors) 
            {
                result += author + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
    private string tags
    {
        get
        {
            string result = "";
            foreach (string tag in paper.Tags) 
            {
                result += tag + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
}