<div type="button" class="paper" style="left: @_left vw; top: @_top vh;" data-bs-toggle="modal" data-bs-target="#paperInfoWindow" @onmouseover="hoversOn" @onmouseout="hoversOn">
    @if (showHoverWindow) {
        <HoverWindow paper=@paper/>
    } 
</div>


@code {
    [Parameter]
    public PaperDTO paper {get; set;} = null!;
    public bool showHoverWindow = false;
    private void hoversOn() {
        showHoverWindow = !showHoverWindow;
    }
    [Parameter]
    public int _left { get; set; } = 0;
    [Parameter]
    public int _top { get; set; } = 0;
}