.btn-close {
    background-color: transparent;
    margin: 0px 0px 0px 3px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.shareCheckboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}