@inject HttpClient Http
@if (connection.ConnectionType.Contains("author")) {
    <h2>Authors</h2>
    <p>@_authors</p>
}
@if (connection.ConnectionType.Contains("tag")) {
    <h2>Tags</h2>
    <p>@_tags</p>
}
@if (connection.ConnectionType.Contains("reference")) {
    <h2>Reference</h2>
    <p><i>@_paper1.Title</i> references <i>@_paper2.Title</i></p>
}



@code {
    [Parameter]
    public ConnectionDTO? connection { get; set; }

    private PaperDTO? _paper1;
    private PaperDTO? _paper2;
    
    private string _authors 
    {
        get 
        {
            string result = "";
            foreach (var authorName in _paper1.AuthorNames) 
            {
                if (_paper2.AuthorNames.Contains(authorName)) {
                    result += authorName + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
    private string _tags
    {
        get
        {
            string result = "";
            foreach (var tagName in _paper1.TagNames) 
            {
                if (_paper2.TagNames.Contains(tagName)) {
                    result += tagName + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
}