@inject HttpClient Http
<div class="modal fade modal-dialog modal-dialog-centered modal-dialog-scrollable" id="connectionInfoWindow" style="display: none;" tabindex="-1" aria-labelledby="connectionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="connectionModalLabel">"@_paper1.Title" and "@_paper2.Title"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ConnectionPartialInfo connection=@connection />
                @if (connection.Description != null) {
                    <h2>Description</h2>
                    <p>@_description</p>
                }
            </div>
            <div class="modal-footer">
                <button>update connection</button>
                <button>delete connection</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ConnectionDTO connection {get;set;} = null!;
    private string? _description { get => connection.Description; }
    private PaperDTO _paper1 = TestEntities.paperDTO;
    private PaperDTO _paper2 = TestEntities.paperDTO;
}