.connection {
    position: fixed;
    left: 32px;
    top: 50px;
}

.bottom {
    stroke-width: 8px;
    stroke: var(--background);
}

.c-0 {
    stroke: var(--blue);
}

.c-1 {
    stroke: var(--red);
}

.c-2 {
    stroke: var(--yellow);
}

.c-3 {
    stroke: var(--orange);
}

.c-4 {
    stroke: var(--green);
}

.c-5 {
    stroke: var(--purple);
}

.top {
    stroke-width: 5px;
}

.top:hover {
    stroke: var(--cyan);
}