@inject HttpClient Http

@if (connection.ConnectionType.Contains("author")) {
    <h2>Authors in common</h2>
    <p>@_authors</p>
}
@if (connection.ConnectionType.Contains("tag")) {
    <h2>Tags in common</h2>
    <p>@_tags</p>
}
@if (connection.ConnectionType.Contains("reference")) {
    <h2>Reference</h2>
    <p><i>@paper1.Title</i> references <i>@paper2.Title</i></p>
}



@code {
    [Parameter] public ConnectionDTO? connection { get; set; }
    [Parameter] public PaperDTO paper1 { get; set; }
    [Parameter] public PaperDTO paper2 { get; set; }
    
    private string _authors 
    {
        get 
        {
            string result = "";
            foreach (var authorName in paper1.AuthorNames) 
            {
                if (paper2.AuthorNames.Contains(authorName)) {
                    result += authorName + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
    private string _tags
    {
        get
        {
            string result = "";
            foreach (var tagName in paper1.TagNames) 
            {
                if (paper2.TagNames.Contains(tagName)) {
                    result += tagName + ", ";
                }
            }
            return result.Substring(0,Math.Max(result.Length-2,0));
        }
    }
}