<div class="connection" style="left: @_left vw; top: @_top vh;">
    <svg style="width: @_width vw; height: @_height vh;"><line data-bs-toggle="modal" data-bs-target="#connectionInfoWindow" @onmouseover="hoversOn" @onmouseout="hoversOn" x1=@_x1 y1=@_y1 x2=@_x2 y2=@_y2 /></svg>
    @if (_showHoverWindow) {
        <HoverWindow connection=@connection/>
    } 
</div>

@code {
    [Parameter]
    public ConnectionDTO connection {get; set;} = null!;
    private bool _showHoverWindow = false;

    private (int,int) position1() => GraphPositions.paperToPositions[connection.PaperOneId];
    private (int,int) position2() => GraphPositions.paperToPositions[connection.PaperTwoId];
    private int _width { get => Math.Abs(position1().Item1-position2().Item1); }
    private int _height { get => Math.Abs(position1().Item2-position2().Item2); }
    private int _left { get => Math.Min(position1().Item1, position2().Item1); }
    private int _top { get => Math.Min(position1().Item2, position2().Item2); }
    private string _x1  { get => (position1().Item1-_left)+"vw"; }
    private string _y1  { get => (position1().Item2-_top)+"vh"; }
    private string _x2  { get => (position2().Item1-_left)+"vw"; }
    private string _y2  { get => (position2().Item2-_top)+"vh"; }
    private void hoversOn() {
        _showHoverWindow = !_showHoverWindow;
    }
}