.connection {
    position: fixed;
    margin-left: 23pt;
    margin-top: 30pt;
}

line {
    stroke-width: 3pt;
}

.c-0 {
    stroke: var(--blue);
}

.c-1 {
    stroke: var(--cyan);
}

.c-2 {
    stroke: var(--yellow);
}

.c-3 {
    stroke: var(--orange);
}

.c-4 {
    stroke: var(--green);
}

.c-5 {
    stroke: var(--red);
}