<div class="connection" style="left: @_leftS; top: @_topS;">
    <svg width=@_widthS height=@_heightS><line data-bs-toggle="modal" data-bs-target="#connectionInfoWindow" @onmouseover="hoversOn" @onmouseout="hoversOn" x1=@_x1 y1=@_y1 x2=@_x2 y2=@_y2 /></svg>
    @if (showHoverWindow) {
        <HoverWindow connection=@connection/>
    } 
</div>

@code {
    [Parameter]
    public ConnectionDTO? connection {get; set;}
    private bool _showHoverWindow = false;

    private int _width { get => Math.Abs(GraphPositions.positions[0].Item1-GraphPositions.positions[1].Item1); }
    private string _widthS { get => width+"vw"; }
    private int _height { get => Math.Abs(GraphPositions.positions[0].Item2-GraphPositions.positions[1].Item2); }
    private string _heightS { get => height+"vh"; }

    private int _left { get => Math.Min(GraphPositions.positions[0].Item1, GraphPositions.positions[1].Item1); }
    private string _leftS { get => (left)+"vw"; }
    private int _top { get => Math.Min(GraphPositions.positions[0].Item2, GraphPositions.positions[1].Item2); }
    private string _topS { get => (top)+"vh"; }
    private string _x1  { get => (GraphPositions.positions[0].Item1-left)+"vw"; }
    private string _y1  { get => (GraphPositions.positions[0].Item2-top)+"vh"; }
    private string _x2  { get => (GraphPositions.positions[1].Item1-left)+"vw"; }
    private string _y2  { get => (GraphPositions.positions[1].Item2-top)+"vh"; }
    private void hoversOn() {
        _showHoverWindow = !showHoverWindow;
    }
}