.window {
    background-color: var(--white);
    color: var(--background);
    position: relative;
    left: -47pt;
    top: 65pt;
    width: 140pt;
    border-radius: 5pt;
    padding: 5pt;
    z-index: 10000 !important;
}

.paper .window {
    z-index: 3;
}

::deep p {
    font-size: 12pt;
    margin-top: 8pt;
    margin-bottom: 0pt;
}
::deep .title {
    font-weight: bold;
    margin-top: 0pt;
}