@page "/viewconnectioninformation"
@using LitExplore.Client.InfoViews

<h1>@conn.Paper1.Title and @conn.Paper2.Title</h1>
<section>
    <h2>Connections</h2>
    <ConnectionPartialInfo conn=@conn />
</section>
<section id="Description" hidden=@hideDescription>
    <h2>Description</h2>
    <p>@description</p>
</section>


@code {
    [Parameter]
    public Connection conn { get; set; } = TestEntities.testconn1;
    private bool hideDescription { get => conn.Description == null; }
    private string? description { get => conn.Description; }
   

}