@page "/viewconnectioninformation"

<h1>@conn.Paper1.Title and @conn.Paper2.Title</h1>
<section>
    <h2>Connections</h2>
    <ConnectionPartialInfo conn=@conn />
</section>
@if (conn.Description != null) {
    <h2>Description</h2>
    <p>@description</p>
}

@code {
    [Parameter]
    public Connection conn { get; set; } = TestEntities.testconn1;
    private string? description { get => conn.Description; }
   

}