@page "/viewconnectioninformation"

<h2>Connections</h2>
<ConnectionPartialInfo connection=@connection />
@if (connection.Description != null) {
    <h2>Description</h2>
    <p>@description</p>
}

@code {
    [Parameter]
    public Connection connection { get; set; } = TestEntities.testconn1;
    private string? description { get => connection.Description; }
   

}