
<section id="SameAuthor" hidden=@hidetypeAuthor>
    <p>Author(s): @authors</p>
</section>
<section id="SameTags" hidden=@hidetypeTag>
    <p>Tag(s): @tags</p>
</section>
<section id="References" hidden=@hidetypeReference>
    <p>@conn.Paper1.Title references @conn.Paper2.Title</p>
</section>
<section id="Other" hidden=@hidetypeOther>
    <p>You have connected these papers yourself.</p>
</section>



@code {

    [Parameter]
    public Connection conn { get; set; }
    private bool hidetypeAuthor { get => !conn.Connections.Contains(ConnectionType.Author); }
    private string authors
    {
        get 
        {
            string result = "";
            foreach (string author in conn.Paper1.Authors) 
            {
                if (conn.Paper2.Authors.Contains(author)) {
                    result += author + ", ";
                }
            }
            return result.Substring(0,result.Length-2);
        }
    }
    private bool hidetypeTag { get => !conn.Connections.Contains(ConnectionType.Tag); }
    private string tags
    {
        get 
        {
            if (conn.Paper1.Tags != null && conn.Paper2.Tags != null) 
            {
                string result = "";
                foreach (string tag in conn.Paper1.Tags) 
                {
                    if (conn.Paper2.Tags.Contains(tag)) {
                        result += tag + ", ";
                    }
                }
                return result.Substring(0,result.Length-2);
            } else return "";
        }
    }

    private bool hidetypeReference { get => !conn.Connections.Contains(ConnectionType.Reference); }
    private bool hidetypeOther { get => !conn.Connections.Contains(ConnectionType.Other); }
   

}