
<h1>paper.Title</h1>
<h2>by: <i>@authors</i></h2>
@if (paper.Tags != null) {
    <h2>tags: <i>@tags</i></h2>
}

@code {
    [Parameter]
    public Paper paper { get; set; } = TestEntities.genericPaper;
    private string authors 
    {
        get
        {
            string result = "";
            foreach (Author author in paper.Authors) { 
                result += author.Name + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
    private string tags
    {
        get
        {
            string result = "";
            foreach (Tag tag in paper.Tags) 
            {
                result += tag.Name + ", ";
            }
            return result.Substring(0,result.Length-2);
        }
    }
}