
<label for="title">Paper Title:</label>
<h1 id="title">@paper.Title</h1>
<label for="authors">Author(s):</label>
<h2 id="authors">@authors</h2>
@if (paper.Tags != null) {
    <label for="tags">Tag(s):</label>
    <h2 id="tags">@tags</h2>
}

@code {
    [Parameter]
    public Paper paper { get; set; } = TestEntities.genericPaper;
    private string authors 
    {
        get
        {
            var sb = new StringBuilder();
            sb.Append("Authors: ");
            foreach (var a in paper.Authors)
            {
                sb.Append(a);
                if (a != paper.Authors.Last())
                {
                    sb.Append(',');
                    sb.Append(' ');
                }
            }
            return sb.ToString();
        }
    }
    private string tags
    {
        get
        {
            if (paper.Tags != null) 
            {
                var sb = new StringBuilder();
                sb.Append("Tags: ");
                foreach (var t in paper.Tags)
                {
                    sb.Append(t);
                    if (t != paper.Tags.Last())
                    {
                        sb.Append(',');
                        sb.Append(' ');
                    }
                }
                return sb.ToString();
            }
            else return "";
        }
    }
}