@page "/viewpaperinformation"
@using LitExplore.Client.InfoViews

<PageTitle>View Paper Information</PageTitle>
<PaperPartialInfo currentPaper=@currentPaper />
<section>
    <label for="releasedate">Published at:</label>
    <h4 id="releasedate">@PublishDate</h4>
</section>
<section>
    <label for="content">Content:</label>
    <p id="content">@Content</p>
</section>




@code {
    [Parameter]
    public Paper currentPaper { get; set; } = new Paper("doc", new List<string>() { "JK ROWLING", "HAKUNA MATATA", "HJÆLP"}, "HIHIHAHA", 2012, 12, 12, null);

    private string Content { get => currentPaper.Document; }
    private string PublishDate
    {
        get
        {
            var currentDate = currentPaper.PublishDate;
            var s = currentDate.Day + "/" + currentDate.Month + "/" + currentDate.Year;
            return s;
        }
    }

}
