@page "/viewpaperinformation"

<PageTitle>View Paper Information</PageTitle>
<PaperPartialInfo paper=@paper />
<p id="releasedate">Published at: @PublishDate</p>
<p id="content">Content:<br/>@paper.Document</p>




@code {
    [Parameter]
    public Paper paper { get; set; } = TestEntities.genericPaper;
    private string PublishDate
    {
        get
        {
            var currentDate = paper.PublishDate;
            var s = currentDate.Day + "/" + currentDate.Month + "/" + currentDate.Year;
            return s;
        }
    }

}
