@page "/About"

<div class="background">
    <h1>About</h1>
    <hr>
    <h2>Who are we?</h2>
    <p>
        We are 6 SWU students from ITU that have created this website during the course: Analysis, Design and Software Architecture, BDSA for short.
        This website was created as a part of the exam for the course, where we had to design a service and simultaniously write a report 
        like a software developer would when creating a service for a client.
    </p>
    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title text-center">Caspar Marschall</h5>
                            <p class="card-text">Small man with big muscles</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title text-center">Emil Houlborg</h5>
                            <img 
                                src="..." 
                                class="rounded-circle mb-3" 
                                alt="..."
                            >
                            <p class="card-text">One part of the dynamic database duo.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Frederik Rothe</h5>
                            <p class="card-text">One part of the dynamic database duo.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Nadja Smol</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Sebastian Fugmann</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Theis Storfyr</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2>What can I do on this website?</h2>
    <p>
        This website is meant as a way to keep track of scientific papers, and how different papers are connected, for example if they have the same author,
        the same topic or something else. These connections are blue and it is possible to click on them to read about the connection in detail. It is also possible 
        to create your own connections between papers and add a description, so you can remember why you created the connection in the first place.
    </p>
    <h2>The limitations of the website</h2>
    <p>
        This website is only a vertical slice of a much bigger program. The focus of our team was on creating connections between papers and creating teams.
        If we had more time, we would implement a way to add papers, display the papers and create connections between already added papers, if there are any.
        We would also add a search function for papers, as well as an easy way to move around the graph of papers on the front screen.
    </p>
</div>