@using LitExplore.Client.BurgerMenu

<nav role="navigation">
  <div class="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul class="menu">
      <a href="#"><li>What</li></a>
      <a href="#"><li>Should</li></a>
      <a href="#"><li>We put</li></a>
      <a href="#"><li>In here?</li></a>
    </ul>
  </div>
</nav>