@using LitExplore.Client.BurgerMenu
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<nav role="navigation">
  <div class="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul class="menu">
      <h1>Lit Explore</h1>
      <li>About</li>
      <li>Contact</li>
      <AuthorizeView>
        <Authorized>
            <li @onclick="BeginLogout">Log out</li>
        </Authorized>
        <NotAuthorized>
            <li><a href="authentication/login">Log in</a></li>
        </NotAuthorized>
      </AuthorizeView>
    </ul>
  </div>
</nav>






@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
